.main {
  font-family: "Gotham", sans-serif;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.imageLogin {
  width: 25%;
}

.inputLogin {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 100;
  background-color: #5c5c5c;
  color: #cecece;
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
  height: 2em;
  margin: 0.25em 0 0.25em 0;
}


.inputLogin:focus {
  outline: none;
  background-color: #5c5c5c;
  color: #cecece;
}

.inputLogin::placeholder {
  color: #cecece;
}

.btn_cadastro {
  padding: 0.5em 1em;
  font-weight: 700;
  font-size: 25px;
  width: 15em;
  height: 2.7em;
  margin-top: 1em;
  font-weight: 900;
}

.btn {
  font-family: "Gotham", sans-serif;
  font-size: 24px;
  font-weight: 700;
  background-color: #f8ce41;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 10em;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff;
  border-color: black;
  transition: 0.5s;
}
