.gridContainer {
  display: flex;
}

.grid {
  display: grid;
}

.gridCell {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.supportColumn {
  display: grid;
}

.supportCell {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.supportCellContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.supportSquare {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

.supportText {
  font-size: 14px;
  color: #f0f0f0;
}
