.historicCard {
  background-color: white;
}

.historicCard {
  white-space: pre-line;
  width: 25em;
  box-shadow: 4px 8px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 0.5em;
  border: none;
}

.historicImage {
  max-height: 180px;
  object-fit: cover;
}

.cardBody {
  overflow: hidden;
  mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.titleText {
  font-size: 24px;
  font-weight: bold;
  font-family: "Gotham", sans-serif;
}

.descriptionText {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #878787;
}
