.productsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsGrid {
  width: 100%;
}

.product {
  height: 380px;
  min-width: 150px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.btnMapa {
  margin: 2% 0 2% 0;
}

.storeTitle {
  font-family: "Gotham", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: var(--amarelo);
  margin-bottom: 0.5em;
}

.favIcon {
  font-size: 100px;
  background-color: var(--amarelo);
  border-radius: 30%;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}
