.main {
  font-family: "Gotham", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.menosmais {
  display: flex;
  justify-content: space-between;
  width: 22em;
  height: 7em;
  gap: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  width: 22em;
  height: 6em;
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.descricao {
  display: flex;
  font-family: "Gotham", sans-serif;
  border-radius: 1em;
  color: var(--amarelo);
  font-size: 24px;
}

.favIcon {
  font-size: 60px;
  background-color: var(--amarelo);
  border-radius: 20%;
  padding: 10px;
}
